<div data-ng-repeat="testimonial in tc.testimonials">

  <div data-ng-show="$index == tc.active" class="animate-show">
    <div class="row">
      <div class="col-md-3">
        <span><img data-ng-src="/images/{{testimonial.image}}" class="center-block"/></span>
      </div>
      <div class="col-md-8">
        <blockquote>
          <p>{{testimonial.quote}}</p>
          <footer>{{testimonial.name}}<br/>
            <i>{{testimonial.profession}}</i>
          </footer>
        </blockquote>
      </div>
      <div class="col-md-1">
        <i class="fa fa-arrow-right fa-3x" data-ng-click="tc.cancelScrollBar(); tc.nextTestimonial()"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <button class="btn btn-default" class="center" data-ng-click="tc.viewContract(testimonial.contractId)">My Goal Contract</button>
      </div>
    </div>

  </div>

</div>
