extends layout

block content
  div.navbar.navbar-default.navbar-static-top
    div.container
      a.navbar-brand(href='/') Goal Contract
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#/create') Create Contract
  div.container
    div(data-ng-view)
