extends layout

block content
  div.navbar.navbar-default.navbar-static-top
    div.container
      a.navbar-brand(href='/') 
        span.fa.fa-gavel.fa-lg &nbsp;Goal Contract
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#/create') Create Contract
        li
          a(href='#/testimonials') Testimonials
  div.container
    div(data-ng-view)
