extends layout

block content
  div.navbar.navbar-default.navbar-static-top
    div.container
      a.navbar-brand(href='#') Goal Contract
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') Sample
  div.container(data-ng-controller='ContractController as cc')
    h1= title
    p Coming soon.
    form
      label(for='name') Name
      input(type='text', id='name', data-ng-model='cc.yourName', placeholder='Enter your name')
    h2 Hello {{cc.yourName}}!

