extends layout

block content

  div.container

    div.jumbotron.text-center
      h1= title
      p A simple site for setting and keeping your commitments.
 
    div.text-center
      button.btn.btn-primary
        i.fa.fa-gavel.fa-2x Get Started
