extends layout

block content

  div.container

    div.jumbotron.text-center
      h1= title
      p A simple site for setting and keeping your commitments.
      div.text-center
        a.btn.btn-primary.btn-lg(href='/finePrint', role='button') Get Started
